<div class="filters">
  <h1>Filter x23x</h1>
  Hotel name
  <input type="text" [formControl]="searchTerm">
  Price min
  <input type="text" [formControl]="priceLower">
  Price max
  <input type="text" [formControl]="priceUpper">
  Country
  <select></select>
  City
  <input type="text" [formControl]="cityTerm">
  </div>
  <div class="content">
    <div *ngIf="hotelDataLoading === true">
      <p>Grabbing hotels...</p>
    </div>
    <div *ngIf="hotelDataLoading === false && hotels.length === 0">
      <p>Can't grab hotels right now. Try refreshing the page</p>
    </div>
    <div *ngIf="hotelDataLoading === false && hotels.length > 1">
      <app-hotel-list [hotels]="currHotels"></app-hotel-list>
    </div>
  </div>