<div class="app-container">
  <div class="content">
    <div class="filters">
      <h1>Filter x23x</h1>
      Hotel name
      <input type="text">
      Price min
      <select></select>
      Price max
      <select></select>
    </div>
    <div *ngIf="hotelDataLoading === true">
      <p>Grabbing hotels...</p>
    </div>
    <div *ngIf="hotelData === null && hotelDataLoading === false || hotelData && hotelData.success === false">
      <p>Can't grab hotels right now. Try refreshing the page</p>
    </div>
    <div *ngIf="hotelDataLoading === false && hotelData && hotelData.success === true">
      <div class="hotel-list">
        <div class="hotel-cell" *ngFor="let hotel of hotelData.results.hotels">
          <app-hotel-cell [hotelData]="hotel"></app-hotel-cell>
        </div>
      </div>
    </div>
  </div>
</div>
