<div class="app-container">
  <div class="content">
    <div class="filters">
      <h1>Filter</h1>
      Hotel name
      <input type="text">
      Price min
      <select></select>
      Price max
      <select></select>
    </div>
    <div class="hotel-list">
      <img [src]="mockData.hotelStaticContent.mainImage.url" class="photo"/>
      <div class="details">
        <div>
            {{ mockData.hotelStaticContent.name }}
        </div>
        <div>
            {{ mockData.hotelStaticContent.neighborhoodName }}
        </div>
      </div>
      <div class="price">
          {{ mockData.lowestAveragePrice.symbol }}
          {{ mockData.lowestAveragePrice.amount }}
          {{ mockData.rewards.miles }}
          <button>Select</button>
      </div>
    </div>
  </div>
</div>
